body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
    text-align: center;
}

/* TITULO */
h1 {
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
    line-height: 1.2;
}

/* EXCEL CENTRADO */
.excel-container img {
    width: 220px;
    height: auto;
    margin-bottom: 50px;
    transition: transform 0.3s ease;
}

.excel-container img:hover {
    transform: scale(1.08);
}

/* BOTONES */
.botones {
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* BOTON ESTILO */
button {
    background: #10b143;
    color: white;
    border: none;
    padding: 14px 60px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #0d9638;
    transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 700px) {
    h1 {
        font-size: 35px;
    }

    .excel-container img {
        width: 160px;
    }

    .botones {
        flex-direction: column;
        gap: 20px;
    }
}