<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/instrucciones.css')}}">
    <title>Instrucciones</title>
</head>
<body>
    <main class="contenedor-instrucciones">

        <h1>Instrucciones</h1>

        <section class="card">
            
            <h2>Objetivo del simulador</h2>

            <p>
                El simulador tiene como propósito generar
                conciencia sobre la importancia de una
                conducción responsable frente al cruce
                de fauna silvestre en vías de alto tránsito.
            </p>

        </section>

        <section class="card">

            <h2>¿Como jugar?</h2>

            <p>
                El usuario deberá conducir por diferentes
                escenarios evitando colisiones con animales
                que aparecerán en la carretera durante
                la simulación.
            </p>

        </section>

        <section class="card">

            <h2>Controles</h2>

            <ul>

                <li>W → Acelerar</li>
    
                <li>S → Frenar</li>
    
                <li>A → Girar izquierda</li>
    
                <li>D → Girar derecha</li>
    
            </ul>


        </section>

        <div class="botones">

            <button onclick="window.location.href='/tablas'">
        
                Ver tablas e información
        
            </button>
        
        </div>

    </main>
</body>
</html>