<!DOCTYPE html>
<html lang="es">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/iza.css') }}">

    <title>Tibasosa</title>

</head>

<body>

    <h1>Sogamoso - Iza</h1>

    <table border="1">

        <tr>

            <th>Animal</th>

            <th>Nivel</th>

            <th>Cruce</th>

            <th>Información</th>

        </tr>

        {% for fila in datos %}

        <tr>

            <td>{{ fila["Animal"] }}</td>

            <td>{{ fila["Nivel de aparición"] }}</td>

            <td>{{ fila["Tipo de cruce"] }}</td>

            <td>{{ fila["Información"] }}</td>

        </tr>

        {% endfor %}

    </table>

    <button onclick="window.location.href='/tablas'">
        Volver
    </button>


</body>

</html>