<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultado.css') }}">
</head>

<body>

    <div class="contenedor">

        <h1>RESULTADOS<br>DE LA PRUEBA</h1>

        <!-- ICONO EXCEL CENTRADO -->
        <div class="excel-container">
            <a href="/descargar_excel">
                <img src="{{ url_for('static', filename='img/excel.png') }}" alt="Excel">
            </a>
        </div>

        <!-- BOTONES -->
        <div class="botones">

            <button onclick="window.location.href='/registro'">
                REINICIAR
            </button>

            <button onclick="window.location.href='/'">
                FINALIZAR
            </button>

        </div>

    </div>

</body>

</html>