<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultado.css') }}">
</head>

<body>

    <div class="contenedor">

        <h1>RESULTADOS <br> DE LA PRUEBA</h1>

        <div class="formatos">

            <!-- EXCEL -->
            <div class="opcion">
                <a href="/descargar_excel" class="btn">
                    <img src="{{ url_for('static', filename='img/excel.png') }}" alt="Excel">
                </a>

                <button onclick="window.location.href='/'">
                    REINICIAR
                </button>
            </div>

            <!-- WORD -->
            <div class="opcion">
                <a href="/descargar_word" class="btn">
                    <img src="{{ url_for('static', filename='img/word.png') }}" alt="Word">
                </a>

                <button onclick="window.location.href='/'">
                    FINALIZAR
                </button>
            </div>

        </div>

    </div>

</body>

</html>