<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas</title>
</head>
<body>
    
    <h1>Tablas e información de la fauna que cruza en cada via</h1>

    <div class="botones-vias">

        <button onclick="window.location.href='/tibasosa'">
    
           Sogamoso - Tibasosa
    
        </button>
    
        <button onclick="window.location.href='/corrales'">
    
            Sogamoso - Corrales
    
        </button>
    
        <button onclick="window.location.href='/iza'">
    
            Sogamoso - Iza
    
        </button>
    
    </div>

</body>
</html>